<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wakedata.common.mybatis.mapper.BargainActivityMapper">

    <resultMap id="BaseResultMap" type="com.wakedata.common.mybatis.model.BargainActivityDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="activityNo" column="activity_no" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="appBuId" column="app_bu_id" jdbcType="BIGINT"/>
            <result property="activityName" column="activity_name" jdbcType="VARCHAR"/>
            <result property="suitStoreType" column="suit_store_type" jdbcType="BOOLEAN"/>
            <result property="suitStoreIds" column="suit_store_ids" jdbcType="OTHER"/>
            <result property="saleLimitType" column="sale_limit_type" jdbcType="INTEGER"/>
            <result property="saleLimitNum" column="sale_limit_num" jdbcType="INTEGER"/>
            <result property="saleLimitRemain" column="sale_limit_remain" jdbcType="INTEGER"/>
            <result property="saleStoreLimit" column="sale_store_limit" jdbcType="OTHER"/>
            <result property="salePrice" column="sale_price" jdbcType="BIGINT"/>
            <result property="lowestPrice" column="lowest_price" jdbcType="BIGINT"/>
            <result property="lowestPriceBuy" column="lowest_price_buy" jdbcType="BOOLEAN"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="bargainDuration" column="bargain_duration" jdbcType="BIGINT"/>
            <result property="bargainPeople" column="bargain_people" jdbcType="INTEGER"/>
            <result property="virtualPeople" column="virtual_people" jdbcType="INTEGER"/>
            <result property="activityStatus" column="activity_status" jdbcType="TINYINT"/>
            <result property="bargainTimesPeriod" column="bargain_times_period" jdbcType="INTEGER"/>
            <result property="bargainTimesDay" column="bargain_times_day" jdbcType="INTEGER"/>
            <result property="assistTimesPeriod" column="assist_times_period" jdbcType="INTEGER"/>
            <result property="assistTimesDay" column="assist_times_day" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,activity_no,tenant_id,
        app_bu_id,activity_name,suit_store_type,
        suit_store_ids,sale_limit_type,sale_limit_num,
        sale_limit_remain,sale_store_limit,sale_price,
        lowest_price,lowest_price_buy,start_time,
        end_time,bargain_duration,bargain_people,
        virtual_people,activity_status,bargain_times_period,
        bargain_times_day,assist_times_period,assist_times_day,
        update_time,create_time,create_by,
        update_by
    </sql>
</mapper>
